:root{
  --main-radius: 7px;
}
*{
  text-decoration: none;
}
body{
  margin: 0;
  color: white;
  font-family: sans-serif;
  text-decoration: none;
}
.main{
  transition: 1s;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3fr 3fr 1fr 3fr 3fr 1fr;
  grid-template-rows: 0.5fr 0.3fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "nav nav nav nav nav nav nav"
  ". . . . . . .     "
  ". ss po . as bnr ."
  ". bor sr . at vr ."
  ". sm fm . lg . .  "
  ". . . . . . .     ";

  grid-column-gap: 3rem;
  grid-row-gap: 2rem;
}

.nav{
  background: #22616D;
  grid-area: nav;
  display: flex;
}

.ss{
  background: #22616D;
  grid-area: ss;
  border-radius: var(--main-radius);

  color: white;
  display: flex;
  padding: 10px;
}
.po{
  background: #22616D;
  grid-area: po;
  border-radius: var(--main-radius);

  display: flex;
  color: white;
}
.as{
  background: #22616D;
  grid-area: as;
  border-radius: var(--main-radius);
  display: flex;
  color: white;
}
.bnr{
  background: #22616D;
  grid-area: bnr;
  border-radius: var(--main-radius);
  display: flex;
  color: white;
}
.bor{
  background: #22616D;
  grid-area: bor;
  border-radius: var(--main-radius);
  display: flex;
  color: white;
}
.sr{
  background: #22616D;
  grid-area: sr;
  border-radius: var(--main-radius);
  display: flex;
  color: white;
}
.at{
  background: #22616D;
  grid-area: at;
  border-radius: var(--main-radius);
  display: flex;
  color: white;
}
.vr{
  background: #22616D;
  grid-area: vr;
  border-radius: var(--main-radius);
  display: flex;
  color: white;
}
.sm{
  background: #22616D;
  grid-area: sm;
  border-radius: var(--main-radius);
  display: flex;
  color: white;
}
.fm{
  background: #22616D;
  grid-area: fm;
  border-radius: var(--main-radius);
  display: flex;
  color: white;
}
.lg{
  background: #22616D;
  grid-area: lg;
  border-radius: var(--main-radius);
  display: flex;
  color: white;
}

/* CLOCK */
.clock{
  font-weight: bold;
  width: 15rem;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 10px;
}

@media only screen and (max-width: 550px){
  .main{
    transition: 1s;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "nav"
    "ss"
    "po"
    "as"
    "bnr"
    "bor"
    "sr"
    "at"
    "vr"
    "sm"
    "fm"
    "lg";
    grid-gap:0.5rem;
  }
}
