*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body{
  /* background-color: rgb(238, 234, 234); */
  background-color: #D3D7DC;
}
/* Class.......
............................. */

/* TOPBAR...................... */
/* container */
.nav-bar{
  width: 100%;
  height: 70px;
  background-color: #F58220;
  position: relative;
  color: white;
}

.logo{
  position: relative;
  display: inline-flex;
}


/* LOGO */
.top-logo{
  height: 50px;
  width: 50px;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 10px;
}

.pielyn-store{
  font-weight:  bolder;
  font-size:  35px;
  position: relative;
  bottom: -12px;
}

.user{
  position: absolute;
  display: inline;
  right: 50px;
  bottom: 27px;
}


/* SIDEBAR................... */
.wrapper{
   display: flex;
   position: relative;
}

 .wrapper .side-bar{
   width: 200px;
   height: 100%;
   background-color: #008D96;
   position: fixed;

 }

 .wrapper .side-bar ul li{
   padding: 15px;
   border-bottom: 1px solid rgba(247, 247, 247, 0.699);
   border-top: 1px solid rgba(255, 255, 255, 0.05)
 }

.wrapper .side-bar ul li a{
  color: white;
  display: block;
  font-weight: bolder;
}

.wrapper .side-bar ul li a .fas{
  width: 25px;
}

.wrapper .side-bar ul li:hover{
  background: white;
  transition: 0.7s;
}

.wrapper .side-bar ul li:hover a{
    color: #008D96;
    transition: 0.4s;
}


.main-content{
    width: 82.5%;
    height: 530px;
    display: inline-flex;
    position: fixed;
    margin-left: 210px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
