body{
  background-color: #CDF0EA;
  display: flex;
  justify-content: center;
  margin-top: 70px;
  font-family: 'Roboto', sans-serif;
  color: white;
}

h1{
  font-size: 76px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 25px;
}
.text-login hr{
  width: 50%;
  height: 2px;
  border-style: outset;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-width: 4px;
}

label{
  font-weight: bolder;
}

input{
  width: 350px;
  height: 50px;
  border-radius: 10px;
  border: none;
  margin: 10px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding-left: 10px;
}

a{
  text-decoration: none;
  color: white;
  font-style: italic;
  font-size: 10px;
  text-align: center;
  margin-left: 90px;
}

a:hover{
  font-size: 15px;
  margin-left: 80px;
  transition: 0.5s;
}

button{
  border-radius: 30px;
  border: none;
  background-color: #F58220;
  color: white;
  width: 150px;
  height: 40px;
  font-size: 30px;
  font-weight: bolder;
  box-shadow: 2px 2px 10px 2px rgb(78, 78, 78);
  transition: 1s;
}

button:hover{
  background-color: white;
  color: #F58220;
  transition: 0.6s linear;
  cursor: pointer;
}



/* ......CLASS............
...........................*/
.text-login{
  margin-bottom: 30px;
}

/* ALL CONATAINER...................................................... */
.container{
  background-color: white;
  width: 900px;;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 0px 10px 2px rgb(78, 78, 78);
  border-radius: 25px;
  background-color: white;
}

/* CONTAINER LOGO.......... */
.logo-container{
  width: 450px;
  height: 100%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-login{
  margin-left: 50px;
  margin-top: 10px;
}

/* LOGIN FORM............ */
.login-form{
  width: 450px;
  height: 100%;
  background-color: #008D96;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

/* IMAGE LOGO........... */
.img-logo{
  width: 480px;
  height: 480px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}



/* MODAL CONTAINER  */
/* p{
  color: #008D96;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 50px;
}
.modal-container{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-login{
  width: 340px;
  height: 150px;
  position: relative;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-modal{
  width: 100px;
  height: 30px;
  font-size: 20px;
  position: absolute;
  bottom: 20px;
}

.header{
  position: absolute;
  top: 0;
  width: 100%;
  height: 35px;
  background-color: #008D96;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
} */
