*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  background: #22616D;
}

section .logo{
  position: relative;
  width: 50%;
  height: 100%;

}

section .logo img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* center form conent */
section .contentBx{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

section .contentBx .form-con{
  width: 50%;
}

section .contentBx .form-con h2{
  color: white;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid white;
  display: inline-block;
  letter-spacing: 1px;
}
section .contentBx .form-con .inputBx{
  margin-bottom: 20px;
}
section .contentBx .form-con .inputBx span{
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: white;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
}

section .contentBx .form-con .inputBx input{
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid white;
  font-size: 16px;
  letter-spacing: 1px;
  color: #607d8b;
  border-radius: 30px;
}

section .contentBx .form-con .inputBx input[type=submit]{
  background: #FF7700;
  color: white;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
section .contentBx .form-con .inputBx input[type=submit]:hover{
background: #DF761D;
}

section .contentBx .forgotPass{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 10px;
}
section .contentBx .forgotPass a{
color: white;
text-decoration: none;
}

section .contentBx .forgotPass a:hover{
  text-decoration: underline;
}

/* mobile */
@media (max-width: 768px){
  section .logo
  {
    position: absolute;
    top: 5%;
    left: 35%;
    width: 30%;
    height: 20%;
    border-radius: 10px;
  }

  section .logo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
}
  section .contentBx{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  section .contentBx .form-con{
    width: 100%;
    padding: 40px;
    margin: 50px;
  }
}

/* @media (max-height: 648px && max-width: 768px) {
  section .logo
   {
    position: absolute;
    top: 5%;
    left: 35%;
    width: 30%;
    height: 20%;
    border-radius: 10px;
  } */
}
